@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #666;
}


.btn__trash {
    background-color: rgb(241, 85, 85);
    border: none;

    &:hover {
        font-size: 25px;
        background-color: rgba(241, 85, 85, 0.7);
    }
}


.important {
    color: red;
}

.app {
    background-color: white;
    width: 60%;
    margin: 5vh auto;
    border-radius: 5px;

    & h1 {
        text-align: center;
        padding-top: 10px;
    }

    & .add-task-form {
        & form {
            padding: 10px;
            min-height: 7vh;
            display: flex;


            & .task-text {
                flex-basis: 50%;
                padding-left: 5px;
            }

            & .task-date {
                flex-basis: 30%;
                text-align: center;

            }

            & .task-important {
                flex-basis: 10%;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                align-items: center;
                border: 1px solid grey;
                font-size: 16px;

            }

            & .task-add-btn {
                flex-basis: 10%;
                background-color: rgb(145, 99, 231);
                color: white;
                border: none;
                margin-left: 5px;
                cursor: pointer;
                font-size: 20px;
                transition: .2s;

                &:hover {
                    background-color: rgba(145, 99, 231, 0.685);
                    font-size: 25px;
                }

            }
        }
    }

    & .taskList {
        padding: 10px;

        & .task {
            background-color: rgb(242, 242, 242);
            margin: 10px 0;

            & p {
                display: flex;
                height: 5vh;
                line-height: 5vh;

                & .task__description {
                    flex-basis: 80%;
                    padding-left: 5px;
                }

                & button {
                    flex-basis: 10%;
                    justify-self: end;
                    border: none;
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                    transition: .2s;
                }

                & .btn__done {
                    background-color: rgb(26, 160, 26);

                    &:hover {
                        font-size: 25px;
                        background-color: rgba(26, 160, 26, 0.7);
                    }
                }

                & .btn__trash {
                    background-color: rgb(241, 85, 85);

                    &:hover {
                        font-size: 25px;
                        background-color: rgba(241, 85, 85, 0.7);
                    }
                }
            }
        }
    }

    & .taskList__finished {
        & .task {
            display: flex;
            flex-wrap: wrap;
            padding-left: 5px;

            & .task__description {
                flex-basis: 90%;
            }

            & .task__whenDone {
                flex-basis: 100%;
            }

            & .btn__trash {
                flex-basis: 10%;
                justify-self: end;
                border: none;
                color: white;
                font-size: 20px;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    font-size: 25px;
                    background-color: rgba(241, 85, 85, 0.7);
                }
            }
        }


    }
}