@import "../../node_modules/bootstrap/scss/bootstrap";

.important {
    color: rgb(220, 53, 69);
}

.input-group {
    height: 6vh;
}

.task-text p {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 5px;
}